<?xml version="1.0" ?>
<config>
    <modules>
        <Nibaya_FPBeer>
            <version>0.1.0</version>
        </Nibaya_FPBeer>
    </modules>
    <frontend>
        <routers>
            <Nibaya_FPBeer>
                <area>frontend</area>
                <class>Nibaya_FPBeer_Controller_Router</class>
            </Nibaya_FPBeer>
            <fpbeer>
                <use>standard</use>
                <args>
                    <module>Nibaya_FPBeer</module>
                    <frontName>fpbeer</frontName>
                </args>
            </fpbeer>
        </routers>
        <layout>
            <updates>
                <fpbeer module="Nibaya_FPBeer">
                    <file>fpbeer.xml</file>
                </fpbeer>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <fpbeer>
                <class>Nibaya_FPBeer_Block</class>
            </fpbeer>
        </blocks>
    </global>
</config>